org: salmanorg
app: ecomm
service: user-service

provider:
  name: aws
  runtime: nodejs20.x
  versionFunctions: false
  stage: dev # ✅ fixed spacing
  region: eu-central-1 # ✅ fixed spacing
  httpApi:
    cors: true # ✅ fixed spacing

functions:
  signup:
    handler: app/handler.Signup
    events:
      - httpApi:
          path: /signup
          method: post
    timeout: 60

  login:
    handler: app/handler.Login
    events:
      - httpApi:
          path: /login
          method: post
    timeout: 30

  verify:
    handler: app/handler.Verify
    events:
      - httpApi:
          path: /verify
          method: post
      - httpApi:
          path: /verify
          method: get
    timeout: 30

  profile:
    handler: app/handler.Profile
    events:
      - httpApi:
          path: /user
          method: post
      - httpApi:
          path: /user
          method: put
      - httpApi:
          path: /user
          method: get

  cart:
    handler: app/handler.Cart
    events:
      - httpApi:
          path: /cart
          method: post
      - httpApi:
          path: /cart
          method: put
      - httpApi:
          path: /cart
          method: get

  payment:
    handler: app/handler.Payment
    events:
      - httpApi:
          path: /payment
          method: post
      - httpApi:
          path: /payment
          method: put
      - httpApi:
          path: /payment
          method: get

plugins:
  - serverless-offline
